<?xml version="1.0" encoding="utf-8" ?>
<Database Name="Cadis" xmlns="http://schemas.microsoft.com/linqtosql/mapping/2007">
  <Table Name="CADIS.vwProcessLog">
    <Type Name="EdhLogViewer.Entities.ProcessLog">
      <Column Member="LogId" Name="LOGID" DbType="int NOT NULL" UpdateCheck="Never" />
      <Column Member="RunId" Name="RUNID" DbType="Int NOT NULL" UpdateCheck="Never" />
      <Column Member="LogTime" Name="LOGTIME" DbType="DateTime NOT NULL" UpdateCheck="Never" />
      <Column Member="LogMessage" Name="LOGMESSAGE" DbType="VarChar(2048)" UpdateCheck="Never" />
      <Column Member="MessageType" Name="MESSAGETYPE" DbType="tinyint NOT NULL" UpdateCheck="Never" />
      <Column Member="ProcessType" Name="PROCESSTYPE" DbType="VarChar(200) NOT NULL" UpdateCheck="Never" />
      <Column Member="ProcessName" Name="PROCESSNAME" DbType="varchar(520)" UpdateCheck="Never" />
    </Type>
  </Table>
  <Table Name="dbo.T_CONFIG_BATCH_SCHEDULE_COMPONENT_PARAMETER">
    <Type Name="EdhLogViewer.Entities.SchedulerComponentParameter">
      <Column Member="SchedulerProcessName" Name="SCHEDULER_PROCESS_NAME" DbType="VarChar(500) NOT NULL" UpdateCheck="Never" />
      <Column Member="ParamName" Name="PARAM_NAME" DbType="VarChar(250) NOT NULL" UpdateCheck="Never" />
      <Column Member="ParamType" Name="PARAM_TYPE" DbType="VarChar(250) NOT NULL" UpdateCheck="Never" />
      <Column Member="ParamValue" Name="PARAM_VALUE" DbType="VarChar(30)" UpdateCheck="Never" />
      <Column Member="CadisInserted" Name="CADIS_SYSTEM_INSERTED" DbType="datetime" UpdateCheck="Never" />
      <Column Member="CadisUpdated" Name="CADIS_SYSTEM_UPDATED" DbType="datetime" UpdateCheck="Never" />
      <Column Member="CadisChangedBy" Name="CADIS_SYSTEM_CHANGEDBY" DbType="VarChar(100)" UpdateCheck="Never" />
    </Type>
  </Table>
</Database>